<settings>
  <proxies>
   <proxy>
      <id>wsl-proxy</id>
      <active>true</active>
      <protocol>http</protocol>
      <host>172.17.0.1</host>
      <port>8888</port>
      <nonProxyHosts>flow-cibseven-spring|flow-webclient|ui-element-template|easy-form|flow-modeler|flow-process-management|flow-resource|localhost|127.0.0.1|::1|localaddress|.localdomain|*.bv.bezirk-schwaben.de|*.dmz.bv.bezirk-schwaben.de|outlook.bezirk-schwaben.de|autodiscover.bezirk-schwaben.de|10.112.55.*|127.0.0.1|192.168.*.*|totp.bezirk-schwaben.de|OKFINN|OKFINNT01</nonProxyHosts>
    </proxy>
  </proxies>
</settings>
