-Dorg.slf4j.simpleLogger.log.org.apache.maven.cli.event.ExecutionEventLogger=warn
-Dorg.slf4j.simpleLogger.log.org.apache.maven.plugin.compiler=warn
-Dorg.slf4j.simpleLogger.log.org.apache.maven.shared.filtering=warn
-Dorg.slf4j.simpleLogger.log.io.miragon.bpmn=warn
-Dorg.slf4j.simpleLogger.log.org.codehaus.mojo.buildhelper=warn
-Dkotlin-logging.logStartupMessage=false
-Dorg.slf4j.simpleLogger.log.org.apache.maven.plugins.clean=warn
